<!--<h1>Cập nhật thông tin tour</h1>-->
<!--<form [formGroup]="editForm" (ngSubmit)="updateTour(id)">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Tên tour:</td>-->
<!--      <td><input type="text" formControlName="title"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Giá:</td>-->
<!--      <td><input type="text" formControlName="price"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Mô tả:</td>-->
<!--      <td><input type="text" formControlName="description"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><button>Cập nhật</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Update tour</h2>
  <form [formGroup]="editForm" (ngSubmit)="updateTour(id)">
    <div class="form-group">
      <label >Title:</label>
      <input type="text" formControlName="title" class="form-control"  placeholder="Enter title" >
    </div>
    <p *ngIf="!editForm.get('title')?.valid && editForm.get('title')?.touched" style="color: red">Blank is not allow.</p>

    <div class="form-group">
      <label>Price:</label>
      <input type="text" formControlName="price"  class="form-control" placeholder="Enter price" >
    </div>
    <p *ngIf="!editForm.get('price')?.valid && editForm.get('price')?.touched" style="color: red">Blank is not allow.</p>

    <div class="form-group">
      <label >Description:</label>
      <textarea type="text" formControlName="description" style="height: 100px" class="form-control"  placeholder="Enter Description" ></textarea>
    </div>
    <p *ngIf="!editForm.get('description')?.valid && editForm.get('description')?.touched" style="color: red">Blank is not allow.</p>

    <button type="submit" class="btn btn-primary">Update</button>
    <a routerLink="" type="button" class="btn btn-secondary">Cancel</a>
  </form>
</div>

</body>
</html>
